In [ ]:
pip install opencage

In [1]:
# Dependencies
import pandas as pd
from opencage.geocoder import OpenCageGeocode
from config import api_key

In [2]:
# Read csv file into pandasdf.drop(columns=['B', 'C'])
rent = pd.read_csv("Resources/rent.csv")
rent

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10
0,102001,United States,0,1368.0,1374,1380,1386,1392,1398,1404,...,1719,1720,1721,1722,1723,1724,1726,1726,1727,1728.0
1,394913,"New York, NY",1,2346.0,2357,2368,2379,2390,2401,2412,...,2754,2742,2729,2717,2704,2690,2677,2662,2647,2632.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,1872.0,1885,1899,1912,1925,1939,1952,...,2566,2565,2565,2565,2565,2564,2563,2562,2561,2560.0
3,394463,"Chicago, IL",3,1537.0,1541,1546,1551,1555,1560,1564,...,1790,1788,1786,1785,1783,1781,1779,1776,1774,1771.0
4,394514,"Dallas-Fort Worth, TX",4,1217.0,1222,1228,1234,1239,1245,1251,...,1557,1558,1560,1561,1563,1564,1565,1566,1568,1569.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,394602,"Fort Collins, CO",159,1226.0,1239,1252,1265,1277,1290,1303,...,1617,1619,1622,1624,1627,1629,1632,1634,1636,1639.0
103,394405,"Boulder, CO",162,1552.0,1566,1581,1595,1610,1624,1638,...,2050,2051,2052,2053,2054,2055,2056,2057,2058,2058.0
104,394645,"Greeley, CO",177,1230.0,1240,1251,1261,1271,1281,1291,...,1662,1665,1669,1672,1675,1678,1681,1684,1687,1690.0
105,394623,"Gainesville, GA",229,979.0,983,986,989,993,996,1000,...,1400,1404,1408,1413,1417,1421,1425,1429,1433,1437.0
106,395098,"Sierra Vista, AZ",309,972.0,971,971,970,970,970,970,...,1104,1112,1119,1126,1133,1141,1148,1156,1164,NaN

In [3]:
rent = rent.drop(columns=['SizeRank', 'RegionID'])
rent.drop(rent.index[0])

,RegionName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,...,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10
1,"New York, NY",2346.0,2357,2368,2379,2390,2401,2412,2423,2433,...,2754,2742,2729,2717,2704,2690,2677,2662,2647,2632.0
2,"Los Angeles-Long Beach-Anaheim, CA",1872.0,1885,1899,1912,1925,1939,1952,1965,1978,...,2566,2565,2565,2565,2565,2564,2563,2562,2561,2560.0
3,"Chicago, IL",1537.0,1541,1546,1551,1555,1560,1564,1569,1573,...,1790,1788,1786,1785,1783,1781,1779,1776,1774,1771.0
4,"Dallas-Fort Worth, TX",1217.0,1222,1228,1234,1239,1245,1251,1256,1262,...,1557,1558,1560,1561,1563,1564,1565,1566,1568,1569.0
5,"Philadelphia, PA",1359.0,1362,1364,1367,1369,1371,1374,1376,1379,...,1594,1596,1598,1600,1602,1603,1605,1607,1608,1610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,"Fort Collins, CO",1226.0,1239,1252,1265,1277,1290,1303,1315,1328,...,1617,1619,1622,1624,1627,1629,1632,1634,1636,1639.0
103,"Boulder, CO",1552.0,1566,1581,1595,1610,1624,1638,1653,1667,...,2050,2051,2052,2053,2054,2055,2056,2057,2058,2058.0
104,"Greeley, CO",1230.0,1240,1251,1261,1271,1281,1291,1302,1312,...,1662,1665,1669,1672,1675,1678,1681,1684,1687,1690.0
105,"Gainesville, GA",979.0,983,986,989,993,996,1000,1004,1008,...,1400,1404,1408,1413,1417,1421,1425,1429,1433,1437.0
106,"Sierra Vista, AZ",972.0,971,971,970,970,970,970,969,969,...,1104,1112,1119,1126,1133,1141,1148,1156,1164,NaN

In [4]:
rent[['City','State']] = rent['RegionName'].str.split(',',expand=True)
rent

,RegionName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,City,State
0,United States,1368.0,1374,1380,1386,1392,1398,1404,1410,1416,...,1721,1722,1723,1724,1726,1726,1727,1728.0,United States,None
1,"New York, NY",2346.0,2357,2368,2379,2390,2401,2412,2423,2433,...,2729,2717,2704,2690,2677,2662,2647,2632.0,New York,NY
2,"Los Angeles-Long Beach-Anaheim, CA",1872.0,1885,1899,1912,1925,1939,1952,1965,1978,...,2565,2565,2565,2564,2563,2562,2561,2560.0,Los Angeles-Long Beach-Anaheim,CA
3,"Chicago, IL",1537.0,1541,1546,1551,1555,1560,1564,1569,1573,...,1786,1785,1783,1781,1779,1776,1774,1771.0,Chicago,IL
4,"Dallas-Fort Worth, TX",1217.0,1222,1228,1234,1239,1245,1251,1256,1262,...,1560,1561,1563,1564,1565,1566,1568,1569.0,Dallas-Fort Worth,TX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,"Fort Collins, CO",1226.0,1239,1252,1265,1277,1290,1303,1315,1328,...,1622,1624,1627,1629,1632,1634,1636,1639.0,Fort Collins,CO
103,"Boulder, CO",1552.0,1566,1581,1595,1610,1624,1638,1653,1667,...,2052,2053,2054,2055,2056,2057,2058,2058.0,Boulder,CO
104,"Greeley, CO",1230.0,1240,1251,1261,1271,1281,1291,1302,1312,...,1669,1672,1675,1678,1681,1684,1687,1690.0,Greeley,CO
105,"Gainesville, GA",979.0,983,986,989,993,996,1000,1004,1008,...,1408,1413,1417,1421,1425,1429,1433,1437.0,Gainesville,GA
106,"Sierra Vista, AZ",972.0,971,971,970,970,970,970,969,969,...,1119,1126,1133,1141,1148,1156,1164,NaN,Sierra Vista,AZ

In [5]:
geocoder = OpenCageGeocode(api_key)

In [6]:
# Create list to hold coordinates
list_lat = []

list_long = []

# Iterate over rows in dataframe
for index, row in rent.iterrows(): 
    City = row['City']
    State = row['State']       
    query = str(City)+','+str(State)

    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']

    list_lat.append(lat)
    list_long.append(long)

# Create new columns from lists    
rent['lat'] = list_lat   
rent['lon'] = list_long

rent

,RegionName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,...,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,City,State,lat,lon
0,United States,1368.0,1374,1380,1386,1392,1398,1404,1410,1416,...,1723,1724,1726,1726,1727,1728.0,United States,None,42.796161,-70.834661
1,"New York, NY",2346.0,2357,2368,2379,2390,2401,2412,2423,2433,...,2704,2690,2677,2662,2647,2632.0,New York,NY,40.712728,-74.006015
2,"Los Angeles-Long Beach-Anaheim, CA",1872.0,1885,1899,1912,1925,1939,1952,1965,1978,...,2565,2564,2563,2562,2561,2560.0,Los Angeles-Long Beach-Anaheim,CA,33.782237,-118.151925
3,"Chicago, IL",1537.0,1541,1546,1551,1555,1560,1564,1569,1573,...,1783,1781,1779,1776,1774,1771.0,Chicago,IL,41.875562,-87.624421
4,"Dallas-Fort Worth, TX",1217.0,1222,1228,1234,1239,1245,1251,1256,1262,...,1563,1564,1565,1566,1568,1569.0,Dallas-Fort Worth,TX,32.737904,-97.239428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,"Fort Collins, CO",1226.0,1239,1252,1265,1277,1290,1303,1315,1328,...,1627,1629,1632,1634,1636,1639.0,Fort Collins,CO,40.550853,-105.066808
103,"Boulder, CO",1552.0,1566,1581,1595,1610,1624,1638,1653,1667,...,2054,2055,2056,2057,2058,2058.0,Boulder,CO,40.014986,-105.270546
104,"Greeley, CO",1230.0,1240,1251,1261,1271,1281,1291,1302,1312,...,1675,1678,1681,1684,1687,1690.0,Greeley,CO,40.423314,-104.709132
105,"Gainesville, GA",979.0,983,986,989,993,996,1000,1004,1008,...,1417,1421,1425,1429,1433,1437.0,Gainesville,GA,34.297879,-83.824066
106,"Sierra Vista, AZ",972.0,971,971,970,970,970,970,969,969,...,1133,1141,1148,1156,1164,NaN,Sierra Vista,AZ,31.545571,-110.277225

In [7]:
# Rearrange Columns
cols = rent.columns.tolist()
cols.insert(0, cols.pop(cols.index('RegionName')))
cols.insert(1, cols.pop(cols.index('City')))
cols.insert(2, cols.pop(cols.index('State')))
cols.insert(3, cols.pop(cols.index('lat')))
cols.insert(4, cols.pop(cols.index('lon')))

# Reindex DataFrame
rent = rent.reindex(columns= cols)

rent

,RegionName,City,State,lat,lon,2014-01,2014-02,2014-03,2014-04,2014-05,...,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10
0,United States,United States,None,42.796161,-70.834661,1368.0,1374,1380,1386,1392,...,1719,1720,1721,1722,1723,1724,1726,1726,1727,1728.0
1,"New York, NY",New York,NY,40.712728,-74.006015,2346.0,2357,2368,2379,2390,...,2754,2742,2729,2717,2704,2690,2677,2662,2647,2632.0
2,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles-Long Beach-Anaheim,CA,33.782237,-118.151925,1872.0,1885,1899,1912,1925,...,2566,2565,2565,2565,2565,2564,2563,2562,2561,2560.0
3,"Chicago, IL",Chicago,IL,41.875562,-87.624421,1537.0,1541,1546,1551,1555,...,1790,1788,1786,1785,1783,1781,1779,1776,1774,1771.0
4,"Dallas-Fort Worth, TX",Dallas-Fort Worth,TX,32.737904,-97.239428,1217.0,1222,1228,1234,1239,...,1557,1558,1560,1561,1563,1564,1565,1566,1568,1569.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,"Fort Collins, CO",Fort Collins,CO,40.550853,-105.066808,1226.0,1239,1252,1265,1277,...,1617,1619,1622,1624,1627,1629,1632,1634,1636,1639.0
103,"Boulder, CO",Boulder,CO,40.014986,-105.270546,1552.0,1566,1581,1595,1610,...,2050,2051,2052,2053,2054,2055,2056,2057,2058,2058.0
104,"Greeley, CO",Greeley,CO,40.423314,-104.709132,1230.0,1240,1251,1261,1271,...,1662,1665,1669,1672,1675,1678,1681,1684,1687,1690.0
105,"Gainesville, GA",Gainesville,GA,34.297879,-83.824066,979.0,983,986,989,993,...,1400,1404,1408,1413,1417,1421,1425,1429,1433,1437.0
106,"Sierra Vista, AZ",Sierra Vista,AZ,31.545571,-110.277225,972.0,971,971,970,970,...,1104,1112,1119,1126,1133,1141,1148,1156,1164,NaN

In [9]:
rent = rent.melt(id_vars=["RegionName", "City", "State", "lat", "lon"], 
        var_name="Date", 
        value_name="Rent")

In [11]:
rent = rent.sort_values(["RegionName", "City", "State", "lat", "lon"])
rent

          RegionName        City State        lat        lon     Date   Rent
73         Akron, OH       Akron    OH  41.083064 -81.518485  2014-01  731.0
180        Akron, OH       Akron    OH  41.083064 -81.518485  2014-02  734.0
287        Akron, OH       Akron    OH  41.083064 -81.518485  2014-03  736.0
394        Akron, OH       Akron    OH  41.083064 -81.518485  2014-04  739.0
501        Akron, OH       Akron    OH  41.083064 -81.518485  2014-05  741.0
...              ...         ...   ...        ...        ...      ...    ...
8331  Youngstown, OH  Youngstown    OH  41.103579 -80.652016  2020-06  716.0
8438  Youngstown, OH  Youngstown    OH  41.103579 -80.652016  2020-07  719.0
8545  Youngstown, OH  Youngstown    OH  41.103579 -80.652016  2020-08  722.0
8652  Youngstown, OH  Youngstown    OH  41.103579 -80.652016  2020-09  725.0
8759  Youngstown, OH  Youngstown    OH  41.103579 -80.652016  2020-10  729.0

[8774 rows x 7 columns]

In [12]:
rent.to_csv('Resources/rent_cleaned.csv')